.main-div {
  display: flex;
  flex-direction: row;
  background-color: rgb(231, 231, 231);
  /* overflow-y: scroll; */
}

.content-div {
  width: 45vw;
  padding: 0 5vw;
}

.posts-div {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  margin-bottom: 1.25rem;
}

.right-rec-div {
  width: 25vw;
}

.recommendations-div {
  background-color: var(--hover-grey);
  margin: 2rem 2rem 2rem 0rem;
  min-height: 80vh;
  height: auto;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(0, 71, 125, 0.3)), url("../assets/home-banner.jpg");
  background-size: 48.5vh;
  background-repeat: no-repeat;
}

.rec-content-div {
  margin-top: 10vh;
  max-width: 15vw;
  text-align: center;
}

.welcome-img {
  margin-top: 15vh;
  height: 5vh;
}

.sort-options {
  padding: 0.25rem;
  width: 5vw;
  margin: 1rem;
  border-radius: 15px;
  background-color: white;
  border: 0px solid black;
}

.sort-options:hover {
  background-color: var(--hover-grey);
}