.main-div {
    display: flex;
    flex-direction: row;
    background-color: rgb(179, 206, 179);
    height: 92vh;
}

.content-div {
    width: 60vw;
    height: 92vh;
}

.right-rec-div {
    background-color: rgb(193, 193, 193);
    width: 20vw;
    height: 92vh;
}

.createpost-div {
    background-color: rgb(210, 210, 210);
    height: 10vh;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin: 1rem;
    padding-left: 2rem;
}