.top-nav-div {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(221, 221, 221);
  height: 8vh;
  top: 0;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1vw;
  z-index: 5;
}

.btns-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.createpost-div {
  background-color: var(--blue);
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  border: 1px solid var(--blue);
  border-radius: 50px;
  display: flex;
  align-items: center;
  height: 5vh;
}

.createpost-div:hover {
  background-color: var(--hover-grey);
  border: 1px solid var(--blue);
}

.createpost-div h3 {
  font-weight: 500;
  color: white;
}

.createpost-div:hover h3 {
  color: rgb(0, 166, 255);
}

.user-img {
  height: 6vh;
  margin: 1rem;
  border-radius: 20px;
}

.home-options-div {
  box-shadow: 0px 0px 5px gray;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  margin: 0.5rem 0 0.5rem 0;
  top: 7vh;
  right: 0.6vw;
  position: fixed;
}

.search-div {
  background-color: var(--border-grey);
  padding: 0.2rem;
  overflow: hidden;
  border-radius: 50px;
  display: flex;
  align-items: center;
  margin: 1rem;
}

.search-bar {
  height: 5vh;
  width: 30vw;
  border: 0px solid black;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 2vw;
}

.search-bar:focus {
  outline: none;
}

.main-div {
  background-color: rgb(193, 112, 112);
  display: flex;
  flex-direction: row;
}

.side-nav-div {
  background-color: rgb(255, 255, 255);
  width: 17vw;
  border-right: 1px solid rgb(221, 221, 221);
}

.side-nav-btns-div {
  margin: 0.5rem 1rem;
  border-bottom: 1px solid var(--border-grey);
  padding-bottom: 0.5rem;
}

.side-nav-link {
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 0.75vw;
}

.side-nav-link img {
  height: 1.25em;
}

.side-nav-link h3 {
  margin: 0;
  padding: 0;
  height: 1.25em;
}

.side-nav-link:hover {
  background-color: var(--hover-grey);
}