.post-border {
    border-bottom: 1px solid var(--border-grey);
}

.post-div {
    background-color: white;
    padding: 0.5rem;
    margin: 0.5rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    border-radius: 15px;
}

.post-div:hover {
    background-color: var(--hover-grey);
}

.likes-div {
    background-color: var(--border-grey);
    width: 5vw;
    padding: 0.2rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.likes-div:hover {
    background-color: var(--dark-hover-grey);
}