.post-div {
  background-color: white;
  box-shadow: 0px 2px 3px var(--border-grey), 0px -0.05px 3px var(--border-grey); /* modified */
  padding: 0.75rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  border-radius: 5px;
}

.post-div:hover {
  background-color: var(--hover-grey);
}

.options {
  float: right;
  padding: 0.25rem;
  border-radius: 15px;
}

.options:hover {
  background-color: var(--dark-hover-grey);
}

.title {
  padding: 0rem 0.25rem;
}

.likes-btn {
  background-color: var(--border-grey);
  width: 5vw;
  padding: 0.2rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid black;
}

.likes-btn:hover {
  background-color: var(--dark-hover-grey);
}

.user-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-user-img {
  height: 4vh;
  border-radius: 12.5px;
}