*{
  margin: 0;
  font-family: "Inter", sans-serif;
  --border-grey: rgb(221, 221, 221);
  --hover-grey: rgb(245, 245, 245);
  --dark-hover-grey: rgb(207, 207, 207);
  --blue: rgb(0, 166, 255);
  text-decoration: none;
  color: black;
}

html{
  overflow-y: scroll;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.blue {
  color: rgb(0, 166, 255);
}

.white {
  color: white;
}

.bold {
  font-weight: 800;
}

h1 {
  font-weight: 300;
}

h2 {
  font-weight: 300;
  font-size: 1.17em;
}

h3 {
  font-weight: 300;
  font-size: 1em;
}

h4 {
  font-weight: 300;
  font-size: 0.95em;
}

h5 {
  font-weight: 300;
  font-size: 0.75em;
}

p {
  font-weight: 200;
  font-size: 0.75em;
}

.title {
  font-weight: 500;
}